# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

# Explore some popular languages for data science
# Explore commonly used libraries for data science 
# Explore arithmetic expressions in Jupiter

# Some of the popular languages that Data Scientists use are: 
# Python.
# R.
# SQL.

# Some of the commonly used libraries used by Data Scientists include:

# TensorFlow.
# Pandas.
# NumPy.

| Data Science Tools | 
| -------------| 
| Apache Spark | 
| Big ML | 
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author:

#### Muhammad Almurda